<div class="courses" [ngSwitch]="item.type">
  <h1>Course</h1>
  <lesson-video
    *ngSwitchCase="'video'"
    [title]="item.title"
    [link]="item.src"></lesson-video>
  <lesson-radio
    *ngSwitchCase="'radio'"
    [title]="item.title"
    [tasks]="item.tasks"
    (onTaskChanged)="changeTask()"
    ></lesson-radio>
  <lesson-checkbox
    *ngSwitchCase="'checkbox'"
    [title]="item.title"
    [tasks]="item.tasks"
    (onTaskChanged)="changeTask()"
    ></lesson-checkbox>
  <div *ngSwitchDefault>Wait please...</div>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)='changeStep(-1)'
      *ngIf="step !== 0">Previous step</button>
    &nbsp;
    <button mat-raised-button color="primary" (click)='changeStep(1)'
      *ngIf="!item.lastTask">Next step</button>
  </div>
</div>
